.m-nav-icons {
  margin: 1rem;
  color: #919cb1 ;
  font-size: 2rem;
}
.m-nav {
  display: none;
}
button {
  background: transparent;
  outline: none;
  border: transparent;
  cursor: pointer;
}

button:active {
  transform: scale(0.9);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(255, 255, 255, 0.24);
  outline: none;
}
.active-route-icon {
  color: #657089;
  margin:1rem;
  font-size:2rem;
}

@media screen and (max-width: 790px) {
  .m-nav {
    position: fixed;
    bottom: 0;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #f6f6f6;
    padding: 0.5rem 0 0.5rem 0;
    /* overflow:hidden; */
  }
  .m-nav-icons {
    font-size: 1.5rem;
    margin: 1rem;
  }
}

@media (min-width: 426px) and (max-width: 789px) {
  .m-nav-icons {
    margin: 1rem;
    font-size: 2.5rem;
  }
}
