.createpost-content {
  margin-top: 5rem;
}
.createpost-content-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin:1rem 1rem;
}
.createpost-content-input{
    width:70%;
    height:2rem;
    font-size:1rem;
    border:transparent;
    background:transparent;
    border-bottom:3px solid lightgray;
    outline: none;
}
.createpost-label{
    font-size:1rem;
    font-weight: 600;
    margin-bottom:0.5rem;
}

@media screen and (max-width: 450px) {
  .createpost-content {
    margin-top: 5rem;
  }
}
